.conclusion {
	max-width: 450px;
	width: 100%;

	margin: 0 auto;
	margin-top: 30px;
}

.conclusion__title {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;

	width: 100%;
}

.conclusion__title-date,
.conclusion__title-length,
.conclusion__title-actions {
	margin: 0;

	font-size: 15px;
	font-family: sans-serif;
	font-weight: 400;
}

.conclusion__list {
	width: 100%;

	padding: 0;

	padding-top: 10px;
	padding-bottom: 10px;

	border: 1px solid #000000;
	border-radius: 20px;
}
